version: "3.9"

services:
  flask_app:
    build: .
    container_name: flask_app
    restart: always
    volumes:
      - ./uploads:/app/uploads
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.sat.rule=Host(`api.hcar.cloud`)"
      - "traefik.http.routers.sat.entrypoints=websecure"
      - "traefik.http.routers.sat.tls.certresolver=myresolver"
    networks:
      - traefik

networks:
  traefik:
    external: true
