version: "3.9"

services:
  flask_app:
    build: .
    container_name: flask_app
    restart: always
    ports:
      - "8091:8091"
    environment:
      - FLASK_ENV=production
    command: python3 app.py
