version: "3.9"

services:
  flask_app:
    build: .
    container_name: flask_app
    restart: always
    ports:
      - "8080:8080"
    environment:
      - FLASK_ENV=production
      - PORT=8090
    volumes:
      - .:/app
    command: python3 app.py
