{% extends "base.html" %}
{% block content %}

<h1>{{ tabla_info.nombre }}</h1>
<p>{{ tabla_info.descripcion }}</p>

<div class="card">
  <h2>Registros ({{ total }})</h2>

  <table>
    <tr>
      {% for col in columnas %}
        <th>{{ col }}</th>
      {% endfor %}
    </tr>

    {% for r in registros %}
    <tr>
      {% for col in columnas %}
        <td>{{ r[col] }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>

  <div style="margin-top:20px;">
    {% if page > 1 %}
      <a class="btn" href="?page={{ page - 1 }}">Anterior</a>
    {% endif %}

    {% if page < total_pages %}
      <a class="btn" href="?page={{ page + 1 }}">Siguiente</a>
    {% endif %}
  </div>
</div>

{% endblock %}
